@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Rashi+Hebrew:wght@100..900&family=Noto+Sans+Hebrew:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Palanquin+Dark:wght@400;500;600;700&family=Ruda:wght@400..900&family=Sorts+Mill+Goudy:ital@0;1&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

/* Globalis betutipus az osszes oldalra. */
html,
body {
  font-family: "Jost", sans-serif !important;
}

button,
input,
select,
textarea {
  font-family: inherit !important;
}

[ng-cloak] {
  display: none !important;
}

.font-jost {
  font-family: "Jost", sans-serif !important;
}

.font-jost * {
  font-family: "Jost", sans-serif !important;
}

/* Footer */
@keyframes blob3 {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }

  50% {
    transform: translate(20px, -20px) scale(1.1);
  }
}

@keyframes blob4 {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }

  50% {
    transform: translate(-15px, 25px) scale(0.9);
  }
}

.animate-blob3 {
  animation: blob3 30s infinite ease-in-out;
}

.animate-blob4 {
  animation: blob4 35s infinite ease-in-out;
}


/* Bejelentkezés */
.input-style {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #596c68;
  border-radius: 0.5rem;
  background-color: #e3d9ca;
  color: #403f48;
}

.input-style:focus {
  outline: none;
  border-color: #403f48;
  box-shadow: 0 0 0 2px rgba(64, 63, 72, 0.3);
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}


